// Colors
$blue: #0284c7;
$dark-blue: #0273ad;
$teal: #25948a;
$dark-teal: #1f7a72;
$green: #57993d;
$dark-green: #498033;
$red: #bf3048;
$dark-red: #a6293e;
$purple: #8b49a6;
$dark-purple: #763e8c;
$brown: #bf7830;
$dark-brown: #a66829;

// Shades
$white: #fff;
$zinc-50: #fafafa;
$zinc-100: #f4f4f5;
$zinc-200: #e4e4e7;
$zinc-300: #d4d4d8;
$zinc-400: #a1a1aa;
$zinc-500: #71717a;
$zinc-600: #52525b;
$zinc-700: #3f3f46;
$zinc-800: #27272a;
$zinc-850: #1f1f21;
$zinc-900: #18181b;
$black: #000;

// Brand Colors
$primary: $blue;
$primary-dark: $dark-blue;
$healthcare: $teal;
$environmental: $green;
$sales: $red;
$hr: $purple;
$legal: $brown;

// UI Colors
$disabled: $zinc-400;
