/* Global */
@use "colors" as *;

body {
	-webkit-tap-highlight-color: transparent;
	position: relative;
}

::selection,
::-moz-selection {
	color: $white;
	background: $primary;
}

img {
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: high-quality;
}
