/* Typography */
@use "colors" as *;

body {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 450;
}

// Weights
._450 {
	font-weight: 450 !important;
}
._515 {
	font-weight: 515 !important;
}
._550 {
	font-weight: 550 !important;
}

// Text Links
.text-link,
.rich-content a,
.recap-content a,
.legal a {
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: color 200ms ease, text-decoration-color 200ms ease;

	&:hover,
	&:focus {
		color: $primary-dark;
		text-decoration-color: inherit;
	}

	&.accent-color,
	&.accent-dark-color {
		&:hover,
		&:focus {
			color: $primary-dark;
			color: var(--accent-dark);
		}
	}
}

// Colors
.bold-blue {
	strong,
	b {
		color: $primary;
	}
}

// Spacing
.section-heading p {
	margin-bottom: 0;
}
