/* Buttons */
@use "button-primitives" as button;

.button::after {
	content: "";
	display: block;
	background-color: button.$overlay-color;
	border-radius: button.$pill-radius;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	mix-blend-mode: overlay;
	opacity: 0;
	transform: scale(button.$overlay-scale);
	transition: all button.$overlay-duration ease;
	transition-property: transform, opacity;
	pointer-events: none;
}

.button:hover::after,
.button:focus::after {
	@include button.overlay-active;
}
