/* Icons */
div,
span {
	&.fa-solid,
	&.fa-regular,
	&.fa-light {
		visibility: hidden;
	}

	&.fa-xl {
		font-size: 1.5em;
		line-height: 0.04167em;
		vertical-align: -0.125em;
		min-width: 1.125em;
	}

	&.fa-sm {
		font-size: 0.875em;
		line-height: 0.07143em;
		vertical-align: 0.05357em;
	}
}
