/* Mobile Navigation */
@use "../global/colors" as *;

.mobile-menu-wrap {
	pointer-events: none;
}

.mobile-menu-wrap.open,
.mobile-menu-wrap.reveal {
	pointer-events: auto;
	background-color: rgba(0, 0, 0, 0.5);
	.mobile-menu {
		opacity: 1;
		transform: none;
	}
}

.mobile-dropdown-toggle {
	&:hover,
	&:focus,
	&.w--open {
		background-color: $zinc-700;
		color: $white;
		.nav-caret {
			color: $primary;
		}
	}

	&:has(+ nav a.w--current) {
		.nav-caret {
			color: $primary;
		}
	}
}

.mobile-dropdown-link {
	&:hover,
	&:focus,
	&.w--current {
		.nav-caret,
		.nav-dropdown-arrow {
			color: $primary;
		}
	}
}

.mobile-dropdown-list {
	position: relative;
	display: block;
	max-height: 0;
	overflow: hidden;
}

.mobile-dropdown-list.w--open {
	max-height: 500px;
}

.mobile-menu-wrap.reveal {
	.mobile-dropdown-list {
		overflow: visible;
		max-height: none;
	}
}
