/* FAQ */
@use "../global/colors" as *;

.faq-question-header::after {
	content: "?";
	color: $primary;
}

.faq-question.open {
	.faq-header {
		cursor: n-resize;
		color: $primary;
		background-color: #ececed;
	}

	.faq-underline {
		max-width: 100%;
		opacity: 1;
	}

	.faq-arrow {
		transform: rotate(-180deg) !important;
	}
}
