/* Gallery */
@use "../global/colors" as *;

.meetings-gallery {
	--accent: $hr;
	--accent-dark: $hr-dark;
}

.thinktanks-gallery {
	--accent: #8b49a6;
	--accent-dark: #763e8c;
}

.networking-gallery {
	--accent: $sales;
	--accent-dark: $sales-dark;
}
