/* Home */
.pie,
.pie-inner {
	position: absolute;
	width: 100% !important;
	height: 100% !important;

	svg {
		width: 100% !important;
		height: 100% !important;
	}
}

// Upcoming Institutes
// @media screen and (min-width: 768px) and (max-width: 991px) {
// 	.large-event-thumbnail-link {
// 		aspect-ratio: 1 / 1;
// 	}
// }
