/* Institutes */
@use "../global/colors" as *;

.institute-filter-button {
	&.active {
		color: $white;
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);

		&.color---healthcare {
			background-color: $healthcare;
		}
		&.color---hr {
			background-color: $hr;
		}
		&.color---sales {
			background-color: $sales;
		}
		&.color---environmental {
			background-color: $environmental;
		}
		&.color---legal {
			background-color: $legal;
		}
	}
}

.institute-filter-icon {
	border-radius: 100px;
	outline: 3px solid $zinc-50;
}
