/* Institutes */
@use "../global/colors" as *;

.institute-filter-button {
	color: $zinc-500;

	&:hover,
	&:focus {
		opacity: 0.9;
	}

	&.active {
		&.color---healthcare {
			color: $healthcare;
		}
		&.color---hr {
			color: $hr;
		}
		&.color---sales {
			color: $sales;
		}
		&.color---environmental {
			color: $environmental;
		}
		&.color---legal {
			color: $legal;
		}

		.institute-filter-icon {
			path,
			ellipse {
				&.b {
					fill: $white;
				}
			}
		}
	}
}

.institute-filter-icon {
	path,
	ellipse {
		transition: fill 0.2s ease;

		&.a {
			fill: currentColor;
		}

		&.b {
			fill: #bcbcbf;
		}
	}
}
